<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Web Application</title>
</head>
<body>

Hello, for a mocked example you can use this url:<br>
-<a href="http://localhost:9000/api/v1/organizations/mock/contributors">http://localhost:9000/api/v1/organizations/mock/contributors</a><br><br>
Or for a specific organization you can use a specific organization login insteado of "mock".<br>
To get some organization you can go to <a href="https://api.github.com/organizations ">https://api.github.com/organizations</a>.

</body>
</html>